*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
 }
 
 
 body{
     height: 100%;
 }
 
 .menu-btn{
     color: gray;
     font-size: 23px;
     cursor: pointer;
     display: none;

 }
 .navbar{
     padding: 12px 5%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: sticky;
     top: 0%;
     z-index: 999;
     background-color: aliceblue;
     box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
 }

 .navbar .logo h1{
    color: palevioletred;
    border-bottom: 2px solid burlywood;
 }

 .navbar .menu li{
list-style: none;
display: inline-block;
 }
.navbar .menu li a{
    display: block;
    margin-left: 20px;
    color: black;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;

}
.navbar .menu li a:hover{
    border-bottom: 4px solid burlywood  ;
}

.content{
    background-image: url(img2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: black;
    height: 150vh;
}
.content h1{
    font-size: 40px;
}
.content p{
    font-size: 20px;
    margin-top: 20px;
}
.content button{
    margin-top: 30px;
    padding: 15px 30px;
    border: none;
    background: purple;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.pheading{
    text-align: center;
    margin: 50px 0;
    color: black;
}
/* products */
.sec{
    padding: 10px 5%;
}
.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}


.products .card{
    width: 310px;
    background: pink;
    box-shadow: 0 10px 20px black(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}
.products .card img{
    height: 200px;
    width: 100%;
}
.products .card .desc{
    padding: 5px 20px;
    opacity: 0.8;
}
.products .card .title{
    font-weight: 900;
    font-size: 20px;
    color: black;
    padding: 0 20px;
}

.products .card .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.products .card .box .price{
    color: red;
    font-size: 20px;
    font-weight: bold;
}
.products .card .box .btn{
    font-size: 13px;
    color: red;
    padding: 10px 18px;
    font-weight: 900;
    border: 1px solid red;
    border-radius: 20px;
}
.products .card .box .btn:hover{
    cursor: pointer;
    background-color: red;
    color: white;
}

/*footer */
footer{
background-color: white;
height: 10vh;
}
footer p{
    text-align: center;
    line-height: 10vh;
}
footer p a{
    text-decoration: none;
    color: green;
    font-weight: bold;
}

@media (max-width: 820px){
    .menu-btn{
    display: block;
    z-index: 999;
    }
}

.menu-btn i.active::before{
    content: "\f00d";
}